{% extends "bootstrap/base.html" %}
{% block title %}IHSA Search{% endblock %}

{% block head %}
{{ super() }}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='pickstate.css') }}">
<!-- put CSS files here -->
{% endblock %}

{% block navbar %}
<button type="button" class="btn btn-default btn-lg" style="padding: 12px 22px; border-style: none; margin: 1em 0; background: none;">
<a href={{ url_for('home', _external=True)}} id="back" style="text-decoration: none;"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back</a>
</button>
{% endblock %}


{% block content %}

<div class="container">
  <h1 id="title">IHSA School Search Tool</h1>
  <div class="row">
    <div class="col-md-12" id="column">
      <div class="center-block">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="pick">
            Pick a Region <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" id="drop">
            {% for region in region_menu %}
              <li><a href="/home/search/{{ region }}">{{ region }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<footer id="footer_1">
  <div class="row">
    <div class="col-md-4" id="linkedin">
      <a href="https://www.linkedin.com/in/carinadaidone" target="_blank"><img src="/static/images/social.png"></a>
    </div>
    <div class="col-md-4">
      <p>Designed and developed by Carina Daidone</p>
      <p>Final project for JOU4930 at the University of Florida</p>
      <div>Icons made by <a href="http://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a>, <a href="http://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </div>
    <div class="col-md-4" id="github">
      <a href="https://github.com/cdaidone/ihsa_search" target="_blank"><img src="/static/images/github.png"></a>
    </div>
  </div>
</footer>

{% endblock %}
